:root{
    --accent-color:seashell;
    --bg-color:
    #6F3323;
    --fonttype: Helvetica, sans-serif;
}
body{
    margin:0;
    background-color:var(--bg-color);
}
/* for icons */
i{
    display:inline;
    font-size: 250%;

}
/* for card headers */
h2{
    color:var(--accent-color);
    font-family: Helvetica, sans-serif;
    font-size: 200%;
    
}
/* project text */
h3{
    color:var(--accent-color);
    font-family: Helvetica, sans-serif;
    font-size: 150%;
    padding:20px;
}
/* for use on project images */
h4{
    color: seashell;
    font-family: Helvetica, sans-serif;
    font-size: 150%;
    padding:20px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
nav{
    text-align:center;
    
    background-color:
    var(--accent-color);
    padding-bottom: 10px;
}

a{
 
    font-family: Helvetica, sans-serif;
    font-size: 120%;
    color:var(--bg-color);
    margin:5px;
}

/* section to hold the cards with info */
section{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    background-color:var(--bg-color);
}
.projects{
    background-color:var(--bg-color);
    display:flex;
    justify-content: space-evenly;
    padding-bottom: 15px;

}

/* Styling for info Cards that are in flex*/
.card{
    width:25%;
    padding:10px;
    border: 3px red;
    background-color:var(--accent-color);
    border-radius: 5px;

}

.card h2{
    color:var(--bg-color);
}


.card header{
    text-align:center;
    color:var(--bg-color);
    font-family: Helvetica, sans-serif;
    font-size: 125%;
    opacity:0.9;
}

.card p{
    text-align: left; 
    color:var(--bg-color);
    font-family: Helvetica, sans-serif;
    font-size: 100;
    opacity:0.9;
    padding-left:20px; ;
}

/* projects section*/
.projects{
    display:flex;
    flex-wrap:wrap;
  
    
}
.projects a{
    text-decoration: none;
}
/* Container that is over the main background */
.container{
    
    overflow: hidden;
}
.container h1{
    position:absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 275px;
    text-align: center; 
    color:var(--accent-color);
    font-family: Helvetica, sans-serif;
    font-size: 420%;
  
}
.container p{
    position:absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 400px;
    text-align: center; 
    color:var(--accent-color);
    font-family: Helvetica, sans-serif;
    font-size: 200%;
    opacity:0.9;
}

/* Profile photo */
.profile{
    position: relative;
    /* top: 50px; */
    bottom: 100px;
    display: block;
    background:url("./images/profilephoto.jfif");
    background-position: center center;
    background-size: 250px;
    height: 175px;
    width:175px;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #ffffff;
    padding: 10px;
    border-radius: 50%;
}
/* main background image/jumbotron*/
.bg-jumbo{
    background: url("./images/loopingbgbrown.png") repeat-x;
    filter:brightness(90%);
    /* background-size: cover; */
    height: 700px;
     width: 5076px;
     animation: slide 60s linear infinite;
   
}

/* project 1 */
#project1{
    background-image: url("./images/weatherdash.png");
    background-position: center center;
    background-size: 300px;
    height: 200px;
    width: 250px;
    padding: 10px;

    border:3px solid#ffff;
}
#project2{
    background-image: url("./images/Notetaker.PNG");
    background-position: center center;
    background-size: 300px;
    height: 200px;
    width: 250px;
    padding: 10px;

    border:3px solid#ffff;
}
#project3{
    background-image: url("./images/WorkScheduler.png");
    background-position: center center;
    background-size: 300px;
    height: 200px;
    width: 250px;
    padding: 10px;

    border:3px solid#ffff;
}
#project4{
    background-image: url("./images/Passwordgen.PNG");
    background-position: center center;
    background-size: 300px;
    height: 200px;
    width: 250px;
    padding: 10px;

    border:3px solid#ffff;
}
#project5{
    background-image: url("./images/CodingQuiz.PNG");
    background-position: center center;
    background-size: 300px;
    height: 200px;
    width: 250px;
    padding: 10px;

    border:3px solid#ffff;
}
/* animation code */
@keyframes slide{
    0%{
        transform: translate3d(0,0,0)
    }
    100%{
        transform: translate3d(-900px,0,0);
    }
}

/* for smaller screens and mobile */
@media screen and (max-width:768px) {
    .card{
        width:45%;
    }

}
@media screen and (max-width: 576px) {
    .card{
        
        width:80%;
    }
  }